<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Person</title>
</head>
<body>
<p th:text="${person.getName() + ', ' + person.getFormattedTakenAt()}">person</p>
<p th:if="${books == null}">This person doesn't keep any books.</p>

    <div th:if="${books != null}">
        <p><strong>Books</strong></p>
    <div th:each="book : ${books}">
        <div th:if="${book.isOverdue()}">
            <p style="color:#E7320B" th:text="'- ' + ${book.getTitle() + ', ' + book.getAuthor() + ', ' + book.getYear()}">
                book</p>
        </div>

        <div th:if="${!book.isOverdue()}">
            <p th:text="'- ' + ${book.getTitle() + ', ' + book.getAuthor() + ', ' + book.getYear()}">book</p>
        </div>
    </div>
    </div>
<hr/>
<form th:method="GET" th:action="@{/people/{id}/edit(id=${person.getId()})}">
    <input type="submit" value="Edit"/>
</form>
<br>
<form th:method="DELETE" th:action="@{/people/{id}(id=${person.getId()})}">
    <input type="submit" value="Delete"/>
</form>
</body>
</html>