<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Person</title>
</head>
<body>
<p th:text="${person.getName() + ', ' + person.getBirthYear()}">person</p>
<p th:if="${books.isEmpty()}">This person doesn't keep any books.</p>
<table>
    <tr th:if="${!books.isEmpty()}">
        <p><strong>Books</strong></p>
    <tr th:each="book : ${books}">
        <p th:text="'- ' + ${book.getTitle() + ', ' + book.getAuthor() + ', ' + book.getYear()}">book</p>
    </tr>
    </tr>
</table>
<hr/>
<form th:method="GET" th:action="@{/people/{id}/edit(id=${person.getId()})}">
    <input type="submit" value="Edit"/>
</form>
<br>
<form th:method="DELETE" th:action="@{/people/{id}(id=${person.getId()})}">
    <input type="submit" value="Delete"/>
</form>
</body>
</html>